.App {
  text-align: center;
  justify-content: center;
}
body{
  background-color: rgb(204, 204, 204);
}
.container{
  display: flex;
background-color: white;
margin:auto;
margin-top:20px;
height:88px;
width:23rem;
}
.container ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}
.container ul li {
  margin-top: 49px;
  margin-left: 15px;
}

.container h5{
  margin-top: 43px;
  margin-left: 20px;
}

.icon{
  display: flex;
  margin: auto;
  width: 20rem;
}
.Main{
  background-color: white;
  margin:auto;
  width:23rem;
}

.mui{
  font-size: 30px;
  height: 30px;
  margin: 0px 0px;
  padding: 0px 0px;
  display: flex;
  float: left;
  width: 45px;
}
